{% extends '@TwinElementsAdmin/core/list.html.twig' %}

{% set add_button_link = path('menu_new', {'category': menu_category.id }) %}

{% block title %}{{ menu_category.title }}{% endblock %}
{% block buttons %}
    {{ block('add_button') }}
{% endblock %}

{% block renderChild %}
    {% set actualLvl = lvl %}
    {{ block('list_ul_begin') }}
        {% for child in children %}
            {% set id = child.id %}
            {% set createdAt = child.createdAt %}
            {% set createdBy = child.createdBy %}
            {% set updatedAt = child.updatedAt %}
            {% set updatedBy = child.updatedBy %}

            {{ block('list_li_begin') }}
                    {{ block('id') }}
                    <div class="col">
                        <div class="title">
                            <a href="{{ path('menu_edit', { 'id': child.id, 'category': menu_category.id }) }}">
                                {% if actualLvl > 0 %}
                                    {% for i in 1..actualLvl %}
                                        <span class="arrow-right"></span>
                                    {% endfor %}
                                {% endif %}
                                {{ child.title }}
                                {% if child.title is null %}
                                    <span class="badge badge-warning">{{ "cms.no_translations"|translate_admin }}</span>
                                {% endif %}
                            </a>
                            {% if child.isMegamenu %}
                                <span class="badge badge-info">{{ "menu.megamenu"|translate_admin }}</span>
                            {% endif %}
                        </div>
                    </div>
                    {{ block('changes_box_in_list') }}
                    {{ block('move') }}

                {% if child.children|length > 0 %}
                    {% set lvl = actualLvl + 1 %}
                    {% set children = child.children %}
                    {{ block('renderChild') }}
                {% endif %}
            {{ block('list_li_end') }}
        {% endfor %}
    {{ block('list_ul_end') }}
{% endblock %}

{% block list %}
    {{ block('list_ul_begin') }}
        {{ block('list_li_header_begin') }}
                {{ block('id_header') }}
                <div class="col">{{ "menu.menu"|translate_admin }}</div>
                {{ block('list_changes_header') }}
                {{ block('move_header') }}
        {{ block('list_li_header_end') }}
        {% for menu in menus|filter(menu => menu.parent == null) %}
            {% set id = menu.id %}
            {% set createdAt = menu.createdAt %}
            {% set createdBy = menu.createdBy %}
            {% set updatedAt = menu.updatedAt %}
            {% set updatedBy = menu.updatedBy %}

            {{ block('list_li_begin') }}
                    {{ block('id') }}
                    <div class="col">
                        <div class="title">
                            <a href="{{ path('menu_edit', { 'id': menu.id, 'category': menu_category.id }) }}">
                                <span>{{ menu.title }}</span>
                                {% if menu.title is null %}
                                    <span class="badge badge-warning">{{ "cms.no_translations"|translate_admin }}</span>
                                {% endif %}
                            </a>
                            {% if  menu.isMegamenu %}
                                <span class="badge badge-info">{{ "menu.megamenu"|translate_admin }}</span>
                            {% endif %}
                        </div>
                    </div>
                    {{ block('changes_box_in_list') }}
                    {{ block('move') }}
                {% if menu.children|length > 0 %}
                    {% set lvl = 1 %}
                    {% set children = menu.children %}
                    {{ block('renderChild') }}
                {% endif %}
            {{ block('list_li_end') }}
        {% endfor %}
    {{ block('list_ul_end') }}
{% endblock %}

{% block head_js %}
    {{ block('sortable') }}
{% endblock %}
