{% extends '@TwinElementsAdmin/core/list.html.twig' %}

{% set add_button_link = path('menu_new', {'category': menu_category.id }) %}

{% block title %}{{ menu_category.title }}{% endblock %}
{% block buttons %}
    {{ block('add_button') }}
{% endblock %}

{% block renderChild %}
    {% set actualLvl = lvl %}
    <ul class="cms-list sortable">
        {% for child in children %}
            {% set id = child.id %}
            {% set createdAt = child.createdAt %}
            {% set createdBy = child.createdBy %}
            {% set updatedAt = child.updatedAt %}
            {% set updatedBy = child.updatedBy %}

            <li data-id="{{ child.id }}" class="sortable-item">
                <div class="level_content row align-items-center">
                    {{ block('id') }}
                    <div class="col">
                        <div class="title">
                            <div class="d-flex align-items-center">
                                {% if actualLvl > 0 %}
                                    {% for i in 1..actualLvl %}
                                        <span class="arrow-right"></span>
                                    {% endfor %}
                                {% endif %}
                                {{ child.title }}
                                {% if child.title is null %}
                                    <span class="badge badge-warning">{{ "cms.no_translations"|translate_admin }}</span>
                                {% endif %}
                            </div>
                            <div class="hidden-bar">
                                <a href="{{ path('menu_edit', { 'id': child.id, 'category': menu_category.id }) }}">{{ "actions.edit"|translate_admin }}</a>
                            </div>
                        </div>
                    </div>
                    {{ block('changes_box_in_list') }}
                    {{ block('move') }}
                </div>

                {% if child.children|length > 0 %}
                    {% set lvl = actualLvl + 1 %}
                    {% set children = child.children %}
                    {{ block('renderChild') }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block list %}
    <ul class="cms-list sortable">
        <li class="header">
            <div class="level_content row align-items-center">
                {{ block('id_header') }}
                <div class="col">{{ "menu.menu"|translate_admin }}</div>
                {{ block('list_changes_header') }}
                {{ block('move_header') }}
            </div>
        </li>
        {% for menu in menus if menu.parent == null %}
            {% set id = menu.id %}
            {% set createdAt = menu.createdAt %}
            {% set createdBy = menu.createdBy %}
            {% set updatedAt = menu.updatedAt %}
            {% set updatedBy = menu.updatedBy %}

            <li data-id="{{ menu.id }}" class="sortable-item">
                <div class="level_content row align-items-center">
                    {{ block('id') }}
                    <div class="col">
                        <div class="title">
                            <span>{{ menu.title }}</span>
                            {% if menu.title is null %}
                                <span class="badge badge-warning">{{ "cms.no_translations"|translate_admin }}</span>
                            {% endif %}
                            <div class="hidden-bar">
                                <a href="{{ path('menu_edit', { 'id': menu.id, 'category': menu_category.id }) }}">{{ "actions.edit"|translate_admin }}</a>
                            </div>
                        </div>
                    </div>
                    {{ block('changes_box_in_list') }}
                    {{ block('move') }}
                </div>
                {% if menu.children|length > 0 %}
                    {% set lvl = 1 %}
                    {% set children = menu.children %}
                    {{ block('renderChild') }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block head_js %}
    {{ block('sortable') }}
{% endblock %}
