{% extends '@TwinElementsAdmin/core/list.html.twig' %}

{% block title %}{{ "menu_category.menu_categories"|translate_admin }}{% endblock %}
{% block buttons %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {% set add_button_link = path('menucategory_new') %}
        {{ block('add_button') }}
    {% endif %}
{% endblock %}

{% block list %}
    {% if menuCategories|length > 0 %}
        {{ block('list_ul_begin') }}
            {{ block('list_li_header_begin') }}

                {{ block('id_header') }}
                <div class="col">{{ "menu_category.title"|translate_admin }}</div>
                {% set circle_header_name = "menu_category.cache"|translate_admin %}
                {{ block('list_changes_header') }}
                {{ block('circle_header') }}

            {{ block('list_li_header_end') }}
            {% for menuCategory in menuCategories %}
                {% set id = menuCategory.id %}
                {% set createdAt = menuCategory.createdAt %}
                {% set createdBy = menuCategory.createdBy %}
                {% set updatedAt = menuCategory.updatedAt %}
                {% set updatedBy = menuCategory.updatedBy %}
                {% set circle_active = menuCategory.isCached %}

                {{ block('list_li_begin') }}
                    {{ block('id') }}
                    <div class="col">
                        <div class="title">
                            {% if is_granted('ROLE_EDIT') %}
                                {% set editUrl = path('menucategory_edit', { 'id': menuCategory.id }) %}
                            {% endif %}
                            <a {% if editUrl %}href="{{ editUrl }}"{% endif %}>
                                <span>{{ menuCategory.title }}</span>
                            </a>
                            <span class="circle-separator"></span>
                            <a href="{{ path('menu_index', { 'category': menuCategory.id }) }}" class="btn btn-primary btn-sm rounded-pill">{{ "menu.menu_elements"|translate_admin }}</a>
                        </div>
                    </div>
                    {{ block('changes_box_in_list') }}
                    {{ block('circle') }}
                {{ block('list_li_end') }}
            {% endfor %}
        {{ block('list_ul_end') }}
    {% else %}
        {{ block('no_elements') }}
    {% endif %}
{% endblock %}
